*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Yu Gothic";
}

body{
    background:#f5f5f5;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{

    width:220px;
    background:#232336;
    color:white;
    display:flex;
    flex-direction:column;

}

.sidebar h2{

    padding:25px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    padding:18px 25px;
    cursor:pointer;

}

.sidebar li.active{

    background:#3d3d55;

}

.logout{

    margin-top:auto;
    margin:20px;
    padding:10px;
}

.main{

    flex:1;
    padding:30px;

}

.header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;

}

.addBtn{

    background:black;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:10px;

}

.searchArea{

    display:flex;
    gap:15px;
    margin-bottom:20px;

}

.searchArea input{

    width:350px;
    padding:10px;

}

.searchArea select{

    padding:10px;

}

table{

    width:100%;
    border-collapse:collapse;
    background:white;

}

th{

    background:#efefef;
    padding:12px;

}

td{

    padding:10px;
    border-bottom:1px solid #ddd;

}

.green{

    background:#d7f8dd;
    color:green;
    padding:3px 10px;
    border-radius:20px;

}